<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css">

<style>
	.topnav {
  background-color: #161f27;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


</style>
{% if login == False %}
<div class="topnav">
  <a href="/">Home</a>
  <a href="/login">Login</a>
  <a href="/create-account">Create an account</a>
  <a href="/posts">Posts</a>
</div>

{% elif login[0] == True %}
<div class="topnav">
  <a href="/">Home</a>
  <a href="/posts">Posts</a>
  <a href="/post">Post</a>
  <a href="/logout">Logout</a>
</div>

{% elif login[0] == 'mod' %}
<div class="topnav">
  <a href="/">Home</a>
  <a href="/posts">Posts</a>
  <a href="/post">Post</a>
  <a href="/logout">Logout</a>
  <a href="/mod-activity">Mod activity</a>
</div>
{% endif %}



<br>

 {% if message != None %}
<div class="container">
 <div class="alert alert-warning">

 <strong>{{ message }}</strong>
 </div>
</div>
<br>
 {% endif %}

{% block content %}
{% endblock %}
